/*Samp Gallery*/
.sampgallery-thumb{
	display:inline-block;
	position:relative;
	text-align: center;
	background-repeat:no-repeat;
	background-position: center;
	background-size: 100% auto;
	overflow:hidden;
	background-position:center;
	background-size: 100% auto;
	background-repeat:no-repeat;
    border:0.125em solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sampgallery-thumb.sampgallery-active{
    overflow: visible;
 }
.sampgallery-thumb.sampgallery-active:after{
	position:absolute;
	left:20%;
	bottom:-0.125em;
	content:'';
	width:0;
	height:0;
	border-style:solid;
	border-width: 0 1em 1em 1em;
	border-color: transparent transparent #333 transparent;
}
.sampgallery-thumb img{
	margin: auto;
	width: auto;
	height: 100%;
}

.sampgallery-preview{
    font-size:12px;
    width:100%;
    /*min-height:300px;*/
    height:0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear:both;
    float:left;
    position:relative;
    text-align:center;
    padding:2.5%;
    overflow:hidden;
    background-color: #333333;
}
.sampgallery-preview.sampgallery-loading{
    background-image: url(imgs/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.sampgallery-preview.sampgallery-loading img{
                       opacity: 0.25;
}
.sampgallery-preview img{
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
}

.sampgallery-preview-close{
	font-size:inherit;
	color: #fff;
	display:block;
	position:absolute;
	right:0;
	top:0;
	height:4em;
	width:4em;
	background-image: url(imgs/icon-close.png);
	background-position:center;
	background-size: 100%;
	background-repeat:no-repeat;
	cursor:pointer;
}