/*Samp Gallery*/
.sampgallery-thumb{
	display:inline-block;
	position:relative;
	text-align: center;
	background-repeat:no-repeat;
	background-position: center;
	background-size: 100% auto;
	overflow:hidden;
	background-position:center;
	background-size: 100% auto;
	background-repeat:no-repeat;
    border:0.125em solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sampgallery-thumb.sampgallery-active{
    overflow: visible;
 }
.sampgallery-thumb.sampgallery-active:after{
	position:absolute;
	left:50%;
	bottom:-0.125em;
    margin-left:-1em;
	content:'';
	width:0;
	height:0;
	border-style:solid;
	border-width: 0 1em 1em 1em;
	border-color: transparent transparent #333 transparent;
}
.sampgallery-thumb img{
	margin: auto;
	width: auto;
	height: 100%;
}
.sampgallery-thumb.sampgallery-loading:after{
    width:100%;
    height:50%;
    display: block;
    position: absolute;
    content:'';
    margin:-25% 0 0 0;
    padding:0;
    left:0;
    top:50%;
    background-image: url(imgs/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}
.sampgallery-thumb.sampgallery-loading{
    opacity: 0.8;
}

.sampgallery-preview{
    font-size:12px;
    width:100%;
    height:0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear:both;
    float:left;
    position:relative;
    text-align:center;
    padding:2.5%;
    overflow:hidden;
    background-color: #333333;
}
.sampgallery-preview img{
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
}
.sampgallery-ctrls{
    position:absolute;
    right:0;
    top:0;
    width:4em;
    background-color: rgba(125,125,125, 0.5);
}
.sampgallery-ctrl{
    height:4em;
    font-size:inherit;
    color: #fff;
    display:block;
    cursor:pointer;
    background-image: url(imgs/icons.png);
    background-position:center top;
    background-size: 100% auto;
    background-repeat:no-repeat;
}
.sampgallery-ctrl-close{
	background-position:center 0%;
}
.sampgallery-ctrl-zoomin{
    background-position: center 22.2%;
}
.sampgallery-ctrl-zoomout{
        background-position: center 11.1%;
    display: none;
}
.sampgallery-ctrl-openimage{
     background-position: center 44.4%;
 }